<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />


  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.css" rel="stylesheet" />
  <title>index</title>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.js">
  </script>




</head>

<body>

  <section class="bgimg overflow-hidden">

    <style>
      .container {
        width: 1450px;

      }

      .size {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      .card {
        background-color: #ad1fff7c;
        color: white;
        
      }

      .fpass {
        margin-left: 250px;

        color: #ad1fff;
      }

      .check {
        margin-left: 15px;
        color: black;
      }

      .padi{
        margin-top: 10vh;
      }
    </style>
    <img class="size" src="/image/register.jpg" />
    <div class="container px-4 py-5 text-center text-lg-start " />
    <div class="row gx-lg-5 align-items-center mt-5">
      <div class="col mb-5 mb-lg-0 mt-5" style="z-index: 10">
        <h5 class="my-3 display-6 fw-bold ls-tight text-center" style="color: hsl(220, 52%, 28%)">Property Management System</h5>
      </div>

      <div class="d-flex justify-content-center padi">

          <div class="card text-white mx-4" style="max-width: 18rem;">
            <div class="card-body"><a href="owner_login" style="color: #ffffff;">
              <h5 class="card-title">Owner</h5>
              <p class="card-text text-capitalize">here's  Your place to Manage your properties</p></a>
            
          </div>
        </div>
          <div class="card text-white" style="max-width: 18rem;">
            <div class="card-body"><a href="tenant_login" style="color: #ffffff;">
              <h5 class="card-title">Tenant</h5>
              <p class="card-text text-capitalize">here's  Your place to pay your rent</p></a>
          </div>
        </div>
        

      </div>

  </section>
</body>

</html>