<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />


  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.css" rel="stylesheet" />
  <title>Login</title>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.js"></script>


  <style>
    .container {
      margin-top: 180px;
    }

    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -60px;
      right: -110px;
      width: 300px;
      height: 300px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    .bg-glass {
      background-color: hsla(0, 0%, 100%, 0.9) !important;

    }

    .btn {
      background-color: #ad1fff;

    }

    .fpass {
      margin-left: 250px;

      color: #ad1fff;
    }

    .check {
      margin-left: 15px;
      color: black;
    }

    .bg-img {
      height: 500px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
</head>

<body class="bg-img" style="background-image: url(/image/register.jpg);">
  <section class="bgimg overflow-hidden">

    <div class="container px-4 py-5" />
    <div class="row gx-lg-3 align-items-center mb-5">

      <div class="col mb 5 py-5 " style="z-index: 10">
        <h5 class=" display-6 fw-bold ls-tight" style="color: hsl(220, 52%, 28%)">Property Management System</h5>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <form method="post" action="/owner_login">
              <center>
                <h1 style="color: black;">Login</h1>
              </center><br>

              <div class="form-outline mb-4">
                <input type="email" id="form3Example3" class="form-control" autocomplete="off" name="email"
                  id="username" />
                <label class="form-label" for="form3Example3">Email address</label>
              </div><br>

              <div class="form-outline mb-4">
                <input type="password" id="form3Example4" class="form-control" autocomplete="off" name="password"
                  id="password" />
                <label class="form-label" for="form3Example4">Password</label>
              </div><br>

              <div>
                <a href="forgotpassword" class="fpass"> Forgot Password? </a>
              </div><br>

              <center><button type="submit" class="btn mb-4" style="color:white; width:380px">
                  Login
                </button></center>

              <div class="text-center">
                <p>Don't have an account?</p>
                <a href="owner_register"><input type="button" value="Signup" class="btn"
                    style="color:white; width:150px;"></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
</body>

</html>