<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.css" rel="stylesheet" />

    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.js"></script>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }

        .navbar {
            background-color: #6b8eab;
        }

        .card {
            background-color: #6b8eabe1;
            margin-left: 50px;
            margin-top: 80px;
        }

        .card-body {
            margin-top: -10px;

        }

        .bg-img {
            background-image: url(/image/documents.jpg);
            height: 500px;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .btn {
            background-color: white;
            color: #6b8eab;
            width: 350px;
            height: 50px;
            margin-right: 10px;
            font-size: medium;
            font-weight: bold;
            font-family: poppins;
            margin-bottom: 15px;
        }
    </style>
    <title>Documents</title>
</head>

<body class="bg-img">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="tenant_dashboard">
                <img src="/image/abode.png" height="45" alt="" loading="lazy" />
            </a>
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarRightAlignExample" aria-controls="navbarRightAlignExample" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarRightAlignExample">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link px-3" aria-current="page" href="tenant_dashboard">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-3" aria-current="page" href="tenant_myabode">My Abode</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active px-3" aria-current="page" href="tenant_documents">Documents</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle px-4" href="#" id="navbarDropdown" role="button"
                            data-mdb-toggle="dropdown" aria-expanded="false">
                            Account
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="#">Profile</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="forgotpassword">Change password</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li>
                                <a class="dropdown-item" href="tenant_login">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br><br>
    <form method="post" action="/tdocuments">

        <div style="margin-top: 10px; margin-left:90px">
            <center>
                <h1 style="font-family:Georgia, 'Times New Roman', Times, serif; color:black">Documents</h1>
            </center>
        </div>

        <div class="card" style="width: 400px;">
            <div class="card-body">
                <h5 class="card-title" style="color: black;">Rental Agreement</h5><br><br>
                <a href="/docs/Rental Agreement.pdf" class="btn ">View</a>
                <a href="/docs/Rental Agreement.pdf" class="btn" download>Download</a>
            </div>
        </div>
        </div>

    </form>



</body>

</html>